/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.btn-close {
  font-size: 1.2rem;
  background: transparent;
  border: none;
}

/* Modal body */
.modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}
