<div class="custom-personals-section">
  <h5 class="custom-personals-section-title">Personals Inspirations</h5>
  <div class="custom-personals-inspirations">
    <app-inspirations [section]="'personals'"></app-inspirations>
  </div>

  <h5 class="custom-personals-section-title">Personals</h5>

  <div class="custom-personals-card-container">
    <div *ngFor="let card of personalsCards" class="custom-personals-card">
      <!-- Regular Title -->
      <h5 
        class="custom-personals-card-title" 
        contenteditable="true" 
        (blur)="saveTitleChange(card, $event)"
        (keydown.enter)="saveTitleChange(card, $event); $event.preventDefault()">
        {{ card.card_title || 'No Title' }}
      </h5>

      <ng-container *ngIf="card.image_url; else plusButton">
        <img [src]="card.image_url" alt="{{ card.card_title }}" class="custom-personals-card-image" />
        <div class="personals-card-actions">
          <button (click)="openEditModal(card)" class="personals-edit-btn">Edit</button>
          <button (click)="removeArrangement(card)" class="personals-remove-btn">Remove</button>
        </div>
      </ng-container>

      <ng-template #plusButton>
        <button (click)="openAddModal(card)" class="personals-plus-btn">+</button>
      </ng-template>
      <button class="delete-btn" (click)="removePersonalsCard(card)">X</button>
    </div>
  </div>

  <!-- Add Card Button -->
  <button class="custom-btn custom-btn-add-card" (click)="openAddEmptyCardModal()">Add Card</button>
</div>
