.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .badge {
    font-size: 14px;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
  }
  
  .remove-tag {
    margin-left: 5px;
    cursor: pointer;
  }
  
  .image-preview img {
    max-width: 100%;
    height: auto;
  }
  