body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.calendar-container {
    width: 100%;
    max-width: 600px;
    flex: 1;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.additional-content {
    width: 100%;
    max-width: 500px;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Ensure the content stacks on smaller screens */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .calendar-container, .additional-content {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
